.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.48)), url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 1440px) {
    .banner {
        background: linear-gradient(rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.48)), url(../img/banner1440.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 1024px) {
    .banner {
        background: linear-gradient(rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.48)), url(../img/banner1024.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 768px) {
    .banner {
        background: linear-gradient(rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.48)), url(../img/banner768.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}