.title {
    font-size: 2rem;
    font-weight: 600;
}

@media screen and (max-width: 1024px) {
    .title {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: $base-font;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: $base-font;
    }
}

@media screen and (max-width: 499px) {
    .title {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 385px) {
    .title {
        font-size: 1rem;
    }
}