$base-font: 1.5rem;
$small-font: 1.25rem;
$button-font: 1rem;
$article-font: 0.9rem;
$primary-color: #f3f7ea;
$primary-text-color: #fff;
$secondary-text-color: #000;
$small-text-color: #474747;
$base-weight: 300;